In [42]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [43]:
df = pd.read_csv("Train.csv")
df.drop("Name",axis=1,inplace=True)
df.drop("Ticket",axis=1,inplace=True)
df.SibSp.fillna(df.SibSp.mean(),inplace=True)
df.Parch.fillna(df.Parch.mean(),inplace=True)
df["Family_member"] = df.SibSp+df.Parch
df.drop("SibSp",axis=1,inplace=True)
df.drop("Parch",axis=1,inplace=True)
def gender(s):
    if s=="female":
        return 1
    else:
        return 0
df["Sex"]=df.Sex.apply(gender)
df.Cabin.fillna(0,inplace=True)
df.loc[df["Cabin"]!=0, "Cabin"] = 1
df.Age.fillna(df.Age.mean(),inplace=True)
df.Embarked.unique()
df.loc[df["Embarked"]=="S", "Embarked"] = 0
df.loc[df["Embarked"]=="C", "Embarked"] = 1
df.loc[df["Embarked"]=="Q", "Embarked"] = 2
df.Embarked.fillna(df.Embarked.mean(),inplace=True)
df

     Pclass  Sex       Age     Fare Cabin  Embarked  Survived  Family_member
0         2    1  29.00000  26.0000     0       0.0         1              1
1         3    0  29.70056   8.0500     0       0.0         0              0
2         2    0  39.00000  26.0000     0       0.0         0              0
3         3    1  29.00000  21.0750     0       0.0         0              4
4         3    0  25.00000   7.0500     0       0.0         0              0
..      ...  ...       ...      ...   ...       ...       ...            ...
663       2    1  17.00000  10.5000     0       0.0         1              0
664       3    0  29.70056   7.7500     0       2.0         0              0
665       3    0  32.00000  56.4958     0       0.0         1              0
666       3    1  22.00000   9.8375     0       0.0         0              0
667       3    1  29.70056  15.5000     0       2.0         1              1

[668 rows x 8 columns]

In [44]:
y = df.Survived
df.drop("Survived",axis=1,inplace=True)

In [45]:
x_train,x_test,y_train,y_test = train_test_split(df,y)
model = linear_model.LogisticRegression(solver="newton-cg",max_iter=1000000, C=2, tol=0.00001)
model.fit(x_train,y_train)

LogisticRegression(C=2, max_iter=1000000, solver='newton-cg', tol=1e-05)

In [46]:
y_pred = model.predict(x_test)

In [47]:
z = pd.DataFrame(y_pred)
z.columns = ["s"]
100-(y_pred[y_pred!=y_test].size/y_pred.size)*100

83.83233532934132

In [48]:
df_2 = pd.read_csv("Test.csv")
df_2.drop("Name",axis=1,inplace=True)
df_2.drop("Ticket",axis=1,inplace=True)
df_2.SibSp.fillna(df_2.SibSp.mean(),inplace=True)
df_2.Parch.fillna(df_2.Parch.mean(),inplace=True)
df_2["Family_member"] = df_2.SibSp+df_2.Parch
df_2.drop("SibSp",axis=1,inplace=True)
df_2.drop("Parch",axis=1,inplace=True)
def gender(s):
    if s=="female":
        return 1
    else:
        return 0
df_2["Sex"]=df_2.Sex.apply(gender)
df_2.Cabin.fillna(0,inplace=True)
df_2.loc[df_2["Cabin"]!=0, "Cabin"] = 1
df_2.Age.fillna(df_2.Age.mean(),inplace=True)
df_2.Embarked.unique()
df_2.loc[df_2["Embarked"]=="S", "Embarked"] = 0
df_2.loc[df_2["Embarked"]=="C", "Embarked"] = 1
df_2.loc[df_2["Embarked"]=="Q", "Embarked"] = 2
df_2.Embarked.fillna(df_2.Embarked.mean(),inplace=True)
df_2

     Pclass  Sex        Age      Fare Cabin  Embarked  Family_member
0         2    0   8.000000   36.7500     0       0.0              2
1         1    1  49.000000   25.9292     1       0.0              0
2         3    0  29.694775    7.7375     0       2.0              0
3         2    1  24.000000   27.0000     0       0.0              3
4         1    0  36.000000   26.2875     1       0.0              0
..      ...  ...        ...       ...   ...       ...            ...
218       3    0  20.000000    7.9250     0       0.0              1
219       1    0  45.000000   26.5500     1       0.0              0
220       1    1  17.000000  108.9000     1       1.0              1
221       3    0  43.000000    6.4500     0       0.0              0
222       2    0  36.500000   26.0000     1       0.0              2

[223 rows x 7 columns]

In [49]:
y_final_predicitions = model.predict(df_2)

In [ ]:
o = pd.DataFrame(y_final_predicitions)
o.to_csv("Final_Predictions.csv", header=False, index=False, columns=None)